<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header')%>
    <title>AcercaDeMi</title>
</head>
<body >
    <div class="estudios-home" style="background-image: url('/img/acerca.jpg');">
       
        <header>
            <%- include('partials/nav') %>
            
        </header>
        <main>
            <svg  id="textPages" width="947" height="112" viewBox="0 0 947 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M66.416 87.68H22.64L14.576 110H0.752L37.04 10.208H52.16L88.304 110H74.48L66.416 87.68ZM62.672 77.024L44.528 26.336L26.384 77.024H62.672ZM99.2233 70.4C99.2233 62.24 100.855 55.136 104.119 49.088C107.383 42.944 111.895 38.192 117.655 34.832C123.511 31.472 130.183 29.792 137.671 29.792C147.367 29.792 155.335 32.144 161.575 36.848C167.911 41.552 172.087 48.08 174.103 56.432H159.991C158.647 51.632 156.007 47.84 152.071 45.056C148.231 42.272 143.431 40.88 137.671 40.88C130.183 40.88 124.135 43.472 119.527 48.656C114.919 53.744 112.615 60.992 112.615 70.4C112.615 79.904 114.919 87.248 119.527 92.432C124.135 97.616 130.183 100.208 137.671 100.208C143.431 100.208 148.231 98.864 152.071 96.176C155.911 93.488 158.551 89.648 159.991 84.656H174.103C171.991 92.72 167.767 99.2 161.431 104.096C155.095 108.896 147.175 111.296 137.671 111.296C130.183 111.296 123.511 109.616 117.655 106.256C111.895 102.896 107.383 98.144 104.119 92C100.855 85.856 99.2233 78.656 99.2233 70.4ZM263.588 67.52C263.588 70.016 263.444 72.656 263.156 75.44H200.084C200.564 83.216 203.204 89.312 208.004 93.728C212.9 98.048 218.804 100.208 225.716 100.208C231.38 100.208 236.084 98.912 239.828 96.32C243.668 93.632 246.356 90.08 247.892 85.664H262.004C259.892 93.248 255.668 99.44 249.332 104.24C242.996 108.944 235.124 111.296 225.716 111.296C218.228 111.296 211.508 109.616 205.556 106.256C199.7 102.896 195.092 98.144 191.732 92C188.372 85.76 186.692 78.56 186.692 70.4C186.692 62.24 188.324 55.088 191.588 48.944C194.852 42.8 199.412 38.096 205.268 34.832C211.22 31.472 218.036 29.792 225.716 29.792C233.204 29.792 239.828 31.424 245.588 34.688C251.348 37.952 255.764 42.464 258.836 48.224C262.004 53.888 263.588 60.32 263.588 67.52ZM250.052 64.784C250.052 59.792 248.948 55.52 246.74 51.968C244.532 48.32 241.508 45.584 237.668 43.76C233.924 41.84 229.748 40.88 225.14 40.88C218.516 40.88 212.852 42.992 208.148 47.216C203.54 51.44 200.9 57.296 200.228 64.784H250.052ZM293.989 43.904C296.293 39.392 299.557 35.888 303.781 33.392C308.101 30.896 313.333 29.648 319.477 29.648V43.184H316.021C301.333 43.184 293.989 51.152 293.989 67.088V110H280.885V31.088H293.989V43.904ZM329.708 70.4C329.708 62.24 331.34 55.136 334.604 49.088C337.868 42.944 342.38 38.192 348.14 34.832C353.996 31.472 360.668 29.792 368.156 29.792C377.852 29.792 385.82 32.144 392.06 36.848C398.396 41.552 402.572 48.08 404.588 56.432H390.476C389.132 51.632 386.492 47.84 382.556 45.056C378.716 42.272 373.916 40.88 368.156 40.88C360.668 40.88 354.62 43.472 350.012 48.656C345.404 53.744 343.1 60.992 343.1 70.4C343.1 79.904 345.404 87.248 350.012 92.432C354.62 97.616 360.668 100.208 368.156 100.208C373.916 100.208 378.716 98.864 382.556 96.176C386.396 93.488 389.036 89.648 390.476 84.656H404.588C402.476 92.72 398.252 99.2 391.916 104.096C385.58 108.896 377.66 111.296 368.156 111.296C360.668 111.296 353.996 109.616 348.14 106.256C342.38 102.896 337.868 98.144 334.604 92C331.34 85.856 329.708 78.656 329.708 70.4ZM417.176 70.256C417.176 62.192 418.808 55.136 422.072 49.088C425.336 42.944 429.8 38.192 435.464 34.832C441.224 31.472 447.608 29.792 454.616 29.792C461.528 29.792 467.528 31.28 472.616 34.256C477.704 37.232 481.496 40.976 483.992 45.488V31.088H497.24V110H483.992V95.312C481.4 99.92 477.512 103.76 472.328 106.832C467.24 109.808 461.288 111.296 454.472 111.296C447.464 111.296 441.128 109.568 435.464 106.112C429.8 102.656 425.336 97.808 422.072 91.568C418.808 85.328 417.176 78.224 417.176 70.256ZM483.992 70.4C483.992 64.448 482.792 59.264 480.392 54.848C477.992 50.432 474.728 47.072 470.6 44.768C466.568 42.368 462.104 41.168 457.208 41.168C452.312 41.168 447.848 42.32 443.816 44.624C439.784 46.928 436.568 50.288 434.168 54.704C431.768 59.12 430.568 64.304 430.568 70.256C430.568 76.304 431.768 81.584 434.168 86.096C436.568 90.512 439.784 93.92 443.816 96.32C447.848 98.624 452.312 99.776 457.208 99.776C462.104 99.776 466.568 98.624 470.6 96.32C474.728 93.92 477.992 90.512 480.392 86.096C482.792 81.584 483.992 76.352 483.992 70.4ZM552.88 70.256C552.88 62.192 554.512 55.136 557.776 49.088C561.04 42.944 565.504 38.192 571.168 34.832C576.928 31.472 583.36 29.792 590.464 29.792C596.608 29.792 602.32 31.232 607.6 34.112C612.88 36.896 616.912 40.592 619.696 45.2V3.44H632.944V110H619.696V95.168C617.104 99.872 613.264 103.76 608.176 106.832C603.088 109.808 597.136 111.296 590.32 111.296C583.312 111.296 576.928 109.568 571.168 106.112C565.504 102.656 561.04 97.808 557.776 91.568C554.512 85.328 552.88 78.224 552.88 70.256ZM619.696 70.4C619.696 64.448 618.496 59.264 616.096 54.848C613.696 50.432 610.432 47.072 606.304 44.768C602.272 42.368 597.808 41.168 592.912 41.168C588.016 41.168 583.552 42.32 579.52 44.624C575.488 46.928 572.272 50.288 569.872 54.704C567.472 59.12 566.272 64.304 566.272 70.256C566.272 76.304 567.472 81.584 569.872 86.096C572.272 90.512 575.488 93.92 579.52 96.32C583.552 98.624 588.016 99.776 592.912 99.776C597.808 99.776 602.272 98.624 606.304 96.32C610.432 93.92 613.696 90.512 616.096 86.096C618.496 81.584 619.696 76.352 619.696 70.4ZM727.088 67.52C727.088 70.016 726.944 72.656 726.656 75.44H663.584C664.064 83.216 666.704 89.312 671.504 93.728C676.4 98.048 682.304 100.208 689.216 100.208C694.88 100.208 699.584 98.912 703.328 96.32C707.168 93.632 709.856 90.08 711.392 85.664H725.504C723.392 93.248 719.168 99.44 712.832 104.24C706.496 108.944 698.624 111.296 689.216 111.296C681.728 111.296 675.008 109.616 669.056 106.256C663.2 102.896 658.592 98.144 655.232 92C651.872 85.76 650.192 78.56 650.192 70.4C650.192 62.24 651.824 55.088 655.088 48.944C658.352 42.8 662.912 38.096 668.768 34.832C674.72 31.472 681.536 29.792 689.216 29.792C696.704 29.792 703.328 31.424 709.088 34.688C714.848 37.952 719.264 42.464 722.336 48.224C725.504 53.888 727.088 60.32 727.088 67.52ZM713.552 64.784C713.552 59.792 712.448 55.52 710.24 51.968C708.032 48.32 705.008 45.584 701.168 43.76C697.424 41.84 693.248 40.88 688.64 40.88C682.016 40.88 676.352 42.992 671.648 47.216C667.04 51.44 664.4 57.296 663.728 64.784H713.552ZM877.672 29.648C883.816 29.648 889.288 30.944 894.088 33.536C898.888 36.032 902.68 39.824 905.464 44.912C908.248 50 909.64 56.192 909.64 63.488V110H896.68V65.36C896.68 57.488 894.712 51.488 890.776 47.36C886.936 43.136 881.704 41.024 875.08 41.024C868.264 41.024 862.84 43.232 858.808 47.648C854.776 51.968 852.76 58.256 852.76 66.512V110H839.8V65.36C839.8 57.488 837.832 51.488 833.896 47.36C830.056 43.136 824.824 41.024 818.2 41.024C811.384 41.024 805.96 43.232 801.928 47.648C797.896 51.968 795.88 58.256 795.88 66.512V110H782.776V31.088H795.88V42.464C798.472 38.336 801.928 35.168 806.248 32.96C810.664 30.752 815.512 29.648 820.792 29.648C827.416 29.648 833.272 31.136 838.36 34.112C843.448 37.088 847.24 41.456 849.736 47.216C851.944 41.648 855.592 37.328 860.68 34.256C865.768 31.184 871.432 29.648 877.672 29.648ZM937.903 18.272C935.407 18.272 933.295 17.408 931.567 15.68C929.839 13.952 928.975 11.84 928.975 9.34399C928.975 6.84799 929.839 4.736 931.567 3.008C933.295 1.27999 935.407 0.415995 937.903 0.415995C940.303 0.415995 942.319 1.27999 943.951 3.008C945.679 4.736 946.543 6.84799 946.543 9.34399C946.543 11.84 945.679 13.952 943.951 15.68C942.319 17.408 940.303 18.272 937.903 18.272ZM944.239 31.088V110H931.135V31.088H944.239Z" fill="white"/>
                </svg>
                
        </main>
    
        

    </div>

    <section class="acerca-de-mi">

        <div class="tarjeta-acerca">
            
            <div class="imagen-acerca">
                <img id="avatar" src="/img/fotoCV.jpg" alt="">
            </div>
            <div class="info-acerca">
                <h2 class="titulo-acerca">Perfil Profesional</h2>
                <p>Ingeniero Electrónico egresado de la Universidad Sergio Arboleda. Soy una persona perfeccionista que busca siempre entregar el mejor resultado posible en un proyecto. Adicionalmente, bajo mi punto de vista pienso que el trabajo en equipo es importante en cualquier ámbito. De igual forma, considero que es importante mantener un aprendizaje continuo de nuevas tecnologías o actualizaciones de tecnologías ya existentes, por lo que soy muy autodidacta cada día, nunca dejo de aprender. </p>
            </div>

        </div>
    
        <div class="tarjeta-acerca">
            <div id="foto-right" class="info-acerca ">
                <h2 class="titulo-acerca">Acerca de mi</h2>
                <p>Adicionalmente, como persona me considero alguien a quien le gustan los retos y que no se rinde fácilmente ante los mismos, capaz de adaptarme a diferentes circunstancias. Además de mi interés por la tecnología y la programación, me interesa la fotografía, el deporte, aprender otros idiomas. </p>
            </div>
            
            <div class="imagen-acerca">
                <img src="/img/about3.jpg" alt="">
            </div>
           

        </div>

        
       

    </section>
   


    <%- include('partials/footer') %>
    <script src="/js/infoPages.js"></script>
</body>
</html>