<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header')%>
    <title>Acerca De Mi</title>
</head>
<body >
    <header>
        <%- include('partials/nav') %>
    </header>



    <%- include('partials/footer') %>
</body>
</html>