<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header')%>
    <title>Educacion</title>
</head>
<body >
    <div class="estudios-home" style="background-image: url('/img/estudios.jpg');">
       
        <header>
            <%- include('partials/nav') %>
            
        </header>

        <main>

            <svg id="textPages" width="734" height="116" viewBox="0 0 734 116" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.192 24.288V57.84H49.768V68.64H13.192V103.2H54.088V114H0.088001V13.488H54.088V24.288H13.192ZM69.0201 74.256C69.0201 66.192 70.6521 59.136 73.9161 53.088C77.1801 46.944 81.6441 42.192 87.3081 38.832C93.0681 35.472 99.5001 33.792 106.604 33.792C112.748 33.792 118.46 35.232 123.74 38.112C129.02 40.896 133.052 44.592 135.836 49.2V7.44H149.084V114H135.836V99.168C133.244 103.872 129.404 107.76 124.316 110.832C119.228 113.808 113.276 115.296 106.46 115.296C99.4521 115.296 93.0681 113.568 87.3081 110.112C81.6441 106.656 77.1801 101.808 73.9161 95.568C70.6521 89.328 69.0201 82.224 69.0201 74.256ZM135.836 74.4C135.836 68.448 134.636 63.264 132.236 58.848C129.836 54.432 126.572 51.072 122.444 48.768C118.412 46.368 113.948 45.168 109.052 45.168C104.156 45.168 99.6921 46.32 95.6601 48.624C91.6281 50.928 88.4121 54.288 86.0121 58.704C83.6121 63.12 82.4121 68.304 82.4121 74.256C82.4121 80.304 83.6121 85.584 86.0121 90.096C88.4121 94.512 91.6281 97.92 95.6601 100.32C99.6921 102.624 104.156 103.776 109.052 103.776C113.948 103.776 118.412 102.624 122.444 100.32C126.572 97.92 129.836 94.512 132.236 90.096C134.636 85.584 135.836 80.352 135.836 74.4ZM241.213 35.088V114H228.109V102.336C225.613 106.368 222.109 109.536 217.597 111.84C213.181 114.048 208.285 115.152 202.909 115.152C196.765 115.152 191.245 113.904 186.349 111.408C181.453 108.816 177.565 104.976 174.685 99.888C171.901 94.8 170.509 88.608 170.509 81.312V35.088H183.469V79.584C183.469 87.36 185.437 93.36 189.373 97.584C193.309 101.712 198.685 103.776 205.501 103.776C212.509 103.776 218.029 101.616 222.061 97.296C226.093 92.976 228.109 86.688 228.109 78.432V35.088H241.213ZM258.442 74.4C258.442 66.24 260.074 59.136 263.338 53.088C266.602 46.944 271.114 42.192 276.874 38.832C282.73 35.472 289.402 33.792 296.89 33.792C306.586 33.792 314.554 36.144 320.794 40.848C327.13 45.552 331.306 52.08 333.322 60.432H319.21C317.866 55.632 315.226 51.84 311.29 49.056C307.45 46.272 302.65 44.88 296.89 44.88C289.402 44.88 283.354 47.472 278.746 52.656C274.138 57.744 271.834 64.992 271.834 74.4C271.834 83.904 274.138 91.248 278.746 96.432C283.354 101.616 289.402 104.208 296.89 104.208C302.65 104.208 307.45 102.864 311.29 100.176C315.13 97.488 317.77 93.648 319.21 88.656H333.322C331.21 96.72 326.986 103.2 320.65 108.096C314.314 112.896 306.394 115.296 296.89 115.296C289.402 115.296 282.73 113.616 276.874 110.256C271.114 106.896 266.602 102.144 263.338 96C260.074 89.856 258.442 82.656 258.442 74.4ZM345.911 74.256C345.911 66.192 347.543 59.136 350.807 53.088C354.071 46.944 358.535 42.192 364.199 38.832C369.959 35.472 376.343 33.792 383.351 33.792C390.263 33.792 396.263 35.28 401.351 38.256C406.439 41.232 410.231 44.976 412.727 49.488V35.088H425.975V114H412.727V99.312C410.135 103.92 406.247 107.76 401.063 110.832C395.975 113.808 390.023 115.296 383.207 115.296C376.199 115.296 369.863 113.568 364.199 110.112C358.535 106.656 354.071 101.808 350.807 95.568C347.543 89.328 345.911 82.224 345.911 74.256ZM412.727 74.4C412.727 68.448 411.527 63.264 409.127 58.848C406.727 54.432 403.463 51.072 399.335 48.768C395.303 46.368 390.839 45.168 385.943 45.168C381.047 45.168 376.583 46.32 372.551 48.624C368.519 50.928 365.303 54.288 362.903 58.704C360.503 63.12 359.303 68.304 359.303 74.256C359.303 80.304 360.503 85.584 362.903 90.096C365.303 94.512 368.519 97.92 372.551 100.32C376.583 102.624 381.047 103.776 385.943 103.776C390.839 103.776 395.303 102.624 399.335 100.32C403.463 97.92 406.727 94.512 409.127 90.096C411.527 85.584 412.727 80.352 412.727 74.4ZM443.223 74.4C443.223 66.24 444.855 59.136 448.119 53.088C451.383 46.944 455.895 42.192 461.655 38.832C467.511 35.472 474.183 33.792 481.671 33.792C491.367 33.792 499.335 36.144 505.575 40.848C511.911 45.552 516.087 52.08 518.103 60.432H503.991C502.647 55.632 500.007 51.84 496.071 49.056C492.231 46.272 487.431 44.88 481.671 44.88C474.183 44.88 468.135 47.472 463.527 52.656C458.919 57.744 456.615 64.992 456.615 74.4C456.615 83.904 458.919 91.248 463.527 96.432C468.135 101.616 474.183 104.208 481.671 104.208C487.431 104.208 492.231 102.864 496.071 100.176C499.911 97.488 502.551 93.648 503.991 88.656H518.103C515.991 96.72 511.767 103.2 505.431 108.096C499.095 112.896 491.175 115.296 481.671 115.296C474.183 115.296 467.511 113.616 461.655 110.256C455.895 106.896 451.383 102.144 448.119 96C444.855 89.856 443.223 82.656 443.223 74.4ZM542.356 22.272C539.86 22.272 537.748 21.408 536.02 19.68C534.292 17.952 533.428 15.84 533.428 13.344C533.428 10.848 534.292 8.736 536.02 7.008C537.748 5.27999 539.86 4.41599 542.356 4.41599C544.756 4.41599 546.772 5.27999 548.404 7.008C550.132 8.736 550.996 10.848 550.996 13.344C550.996 15.84 550.132 17.952 548.404 19.68C546.772 21.408 544.756 22.272 542.356 22.272ZM548.692 35.088V114H535.588V35.088H548.692ZM605.442 115.296C598.05 115.296 591.33 113.616 585.282 110.256C579.33 106.896 574.626 102.144 571.17 96C567.81 89.76 566.13 82.56 566.13 74.4C566.13 66.336 567.858 59.232 571.314 53.088C574.866 46.848 579.666 42.096 585.714 38.832C591.762 35.472 598.53 33.792 606.018 33.792C613.506 33.792 620.274 35.472 626.322 38.832C632.37 42.096 637.122 46.8 640.578 52.944C644.13 59.088 645.906 66.24 645.906 74.4C645.906 82.56 644.082 89.76 640.434 96C636.882 102.144 632.034 106.896 625.89 110.256C619.746 113.616 612.93 115.296 605.442 115.296ZM605.442 103.776C610.146 103.776 614.562 102.672 618.69 100.464C622.818 98.256 626.13 94.944 628.626 90.528C631.218 86.112 632.514 80.736 632.514 74.4C632.514 68.064 631.266 62.688 628.77 58.272C626.274 53.856 623.01 50.592 618.978 48.48C614.946 46.272 610.578 45.168 605.874 45.168C601.074 45.168 596.658 46.272 592.626 48.48C588.69 50.592 585.522 53.856 583.122 58.272C580.722 62.688 579.522 68.064 579.522 74.4C579.522 80.832 580.674 86.256 582.978 90.672C585.378 95.088 588.546 98.4 592.482 100.608C596.418 102.72 600.738 103.776 605.442 103.776ZM620.13 11.76L589.458 28.176V18.384L620.13 0.383995V11.76ZM701.583 33.648C711.183 33.648 718.959 36.576 724.911 42.432C730.863 48.192 733.839 56.544 733.839 67.488V114H720.879V69.36C720.879 61.488 718.911 55.488 714.975 51.36C711.039 47.136 705.663 45.024 698.847 45.024C691.935 45.024 686.415 47.184 682.287 51.504C678.255 55.824 676.239 62.112 676.239 70.368V114H663.135V35.088H676.239V46.32C678.831 42.288 682.335 39.168 686.751 36.96C691.263 34.752 696.207 33.648 701.583 33.648Z" fill="white"/>
                </svg>
                
        </main>
    
        

    </div>

    <section class="estudios">
    
        <div class="tarjeta-estudios">
            
            <div class="imagen-estudios">
                <img src="/img/sergio_arboleda.png" alt="">
            </div>
            <div class="info-estudios">
                <h2 class="titulo-estudios">Universidad Sergio Arboleda</h2>
                <p>Ingeniero Electrónico</p>
                <p>2015 - 2020</p>
            </div>

        </div>
        <div class="tarjeta-estudios">
            <div class="imagen-estudios">
                <img src="/img/bictia.jpg" alt="">
            </div>
            <div class="info-estudios">
                <h2 class="titulo-estudios">BICTIA</h2>
                <p>Desarrollador FullStack</p>
                <p>2020 - Actualmente</p>
            </div>

        </div>

        <div class="tarjeta-estudios">
            <div class="imagen-estudios">
                <img src="/img/empirico.png" alt="">
            </div>
            <div class="info-estudios">
                <h2 class="titulo-estudios">Autodidacta | Empirico</h2>
                <p>HTML | CSS | JavaScript</p>
            </div>

        </div>


    </section>
   


    <%- include('partials/footer') %>
    <script src="/js/infoPages.js"></script>
</body>
</html>