<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header')%>
    <title>Educacion</title>
</head>
<body >
    <div class="estudios-home" style="background-image: url('/img/estudios.jpg');">
       
        <header>
            <%- include('partials/nav') %>
            
        </header>
    
        

    </div>

    <section class="estudios">
    
        <div class="tarjeta-estudios">
            
            <div class="imagen-estudios">
                <img src="/img/sergio_arboleda.png" alt="">
            </div>
            <div class="info-estudios">
                <h2 class="titulo-estudios">Universidad Sergio Arboleda</h2>
                <p>Ingeniero Electrónico</p>
                <p>2015 - 2020</p>
            </div>

        </div>
        <div class="tarjeta-estudios">
            <div class="imagen-estudios">
                <img src="/img/bictia.jpg" alt="">
            </div>
            <div class="info-estudios">
                <h2 class="titulo-estudios">BICTIA</h2>
                <p>Desarrollador FullStack</p>
                <p>2020 - Actualmente</p>
            </div>

        </div>

        <div class="tarjeta-estudios">
            <div class="imagen-estudios">
                <img src="/img/empirico.png" alt="">
            </div>
            <div class="info-estudios">
                <h2 class="titulo-estudios">Autodidacta | Empirico</h2>
                <p>HTML | CSS | JavaScript</p>
            </div>

        </div>


    </section>
   


    <%- include('partials/footer') %>
</body>
</html>