<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header')%>
    <title>Aptitudes</title>
</head>
<body >
    <div class="estudios-home" style="background-image: url('/img/experiencia.jpg');">
       
        <header>
            <%- include('partials/nav') %>
            
        </header>
    
        

    </div>

    <section class="estudios">
    
        <div class="tarjeta-estudios">
            
            <div class="imagen-estudios">
                <img src="/img/sergio_arboleda.png" alt="">
            </div>
            <div class="info-estudios">
                <h2 class="titulo-estudios">Universidad Sergio Arboleda</h2>
                <p>Ingeniero Electrónico</p>
                <p>2015 - 2020</p>
            </div>

        </div>
       

    </section>
   


    <%- include('partials/footer') %>
</body>
</html>