<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header')%>
    <title>Experiencia</title>
</head>
<body >
    <div class="estudios-home" style="background-image: url('/img/experiencia.jpg');">
       
        <header>
            <%- include('partials/nav') %>
            
        </header>

        <main>

            <svg id="textPages" width="799" height="148" viewBox="0 0 799 148" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.192 20.288V53.84H49.768V64.64H13.192V99.2H54.088V110H0.088001V9.488H54.088V20.288H13.192ZM115.1 110L96.3801 80.624L78.3801 110H64.7001L90.1881 70.832L64.7001 31.088H79.5321L98.2521 60.32L116.108 31.088H129.788L104.444 70.112L129.932 110H115.1ZM155.926 45.632C158.518 41.12 162.358 37.376 167.446 34.4C172.63 31.328 178.63 29.792 185.446 29.792C192.454 29.792 198.79 31.472 204.454 34.832C210.214 38.192 214.726 42.944 217.99 49.088C221.254 55.136 222.886 62.192 222.886 70.256C222.886 78.224 221.254 85.328 217.99 91.568C214.726 97.808 210.214 102.656 204.454 106.112C198.79 109.568 192.454 111.296 185.446 111.296C178.726 111.296 172.774 109.808 167.59 106.832C162.502 103.76 158.614 99.968 155.926 95.456V147.44H142.822V31.088H155.926V45.632ZM209.494 70.256C209.494 64.304 208.294 59.12 205.894 54.704C203.494 50.288 200.23 46.928 196.102 44.624C192.07 42.32 187.606 41.168 182.71 41.168C177.91 41.168 173.446 42.368 169.318 44.768C165.286 47.072 162.022 50.48 159.526 54.992C157.126 59.408 155.926 64.544 155.926 70.4C155.926 76.352 157.126 81.584 159.526 86.096C162.022 90.512 165.286 93.92 169.318 96.32C173.446 98.624 177.91 99.776 182.71 99.776C187.606 99.776 192.07 98.624 196.102 96.32C200.23 93.92 203.494 90.512 205.894 86.096C208.294 81.584 209.494 76.304 209.494 70.256ZM312.135 67.52C312.135 70.016 311.991 72.656 311.703 75.44H248.631C249.111 83.216 251.751 89.312 256.551 93.728C261.447 98.048 267.351 100.208 274.263 100.208C279.927 100.208 284.631 98.912 288.375 96.32C292.215 93.632 294.903 90.08 296.439 85.664H310.551C308.439 93.248 304.215 99.44 297.879 104.24C291.543 108.944 283.671 111.296 274.263 111.296C266.775 111.296 260.055 109.616 254.103 106.256C248.247 102.896 243.639 98.144 240.279 92C236.919 85.76 235.239 78.56 235.239 70.4C235.239 62.24 236.871 55.088 240.135 48.944C243.399 42.8 247.959 38.096 253.815 34.832C259.767 31.472 266.583 29.792 274.263 29.792C281.751 29.792 288.375 31.424 294.135 34.688C299.895 37.952 304.311 42.464 307.383 48.224C310.551 53.888 312.135 60.32 312.135 67.52ZM298.599 64.784C298.599 59.792 297.495 55.52 295.287 51.968C293.079 48.32 290.055 45.584 286.215 43.76C282.471 41.84 278.295 40.88 273.687 40.88C267.063 40.88 261.399 42.992 256.695 47.216C252.087 51.44 249.447 57.296 248.775 64.784H298.599ZM342.536 43.904C344.84 39.392 348.104 35.888 352.328 33.392C356.648 30.896 361.88 29.648 368.024 29.648V43.184H364.568C349.88 43.184 342.536 51.152 342.536 67.088V110H329.432V31.088H342.536V43.904ZM389.919 18.272C387.423 18.272 385.311 17.408 383.583 15.68C381.855 13.952 380.991 11.84 380.991 9.34399C380.991 6.84799 381.855 4.736 383.583 3.008C385.311 1.27999 387.423 0.415995 389.919 0.415995C392.319 0.415995 394.335 1.27999 395.967 3.008C397.695 4.736 398.559 6.84799 398.559 9.34399C398.559 11.84 397.695 13.952 395.967 15.68C394.335 17.408 392.319 18.272 389.919 18.272ZM396.255 31.088V110H383.151V31.088H396.255ZM490.588 67.52C490.588 70.016 490.444 72.656 490.156 75.44H427.084C427.564 83.216 430.204 89.312 435.004 93.728C439.9 98.048 445.804 100.208 452.716 100.208C458.38 100.208 463.084 98.912 466.828 96.32C470.668 93.632 473.356 90.08 474.892 85.664H489.004C486.892 93.248 482.668 99.44 476.332 104.24C469.996 108.944 462.124 111.296 452.716 111.296C445.228 111.296 438.508 109.616 432.556 106.256C426.7 102.896 422.092 98.144 418.732 92C415.372 85.76 413.692 78.56 413.692 70.4C413.692 62.24 415.324 55.088 418.588 48.944C421.852 42.8 426.412 38.096 432.268 34.832C438.22 31.472 445.036 29.792 452.716 29.792C460.204 29.792 466.828 31.424 472.588 34.688C478.348 37.952 482.764 42.464 485.836 48.224C489.004 53.888 490.588 60.32 490.588 67.52ZM477.052 64.784C477.052 59.792 475.948 55.52 473.74 51.968C471.532 48.32 468.508 45.584 464.668 43.76C460.924 41.84 456.748 40.88 452.14 40.88C445.516 40.88 439.852 42.992 435.148 47.216C430.54 51.44 427.9 57.296 427.228 64.784H477.052ZM546.333 29.648C555.933 29.648 563.709 32.576 569.661 38.432C575.613 44.192 578.589 52.544 578.589 63.488V110H565.629V65.36C565.629 57.488 563.661 51.488 559.725 47.36C555.789 43.136 550.413 41.024 543.597 41.024C536.685 41.024 531.165 43.184 527.037 47.504C523.005 51.824 520.989 58.112 520.989 66.368V110H507.885V31.088H520.989V42.32C523.581 38.288 527.085 35.168 531.501 32.96C536.013 30.752 540.957 29.648 546.333 29.648ZM595.098 70.4C595.098 62.24 596.73 55.136 599.994 49.088C603.258 42.944 607.77 38.192 613.53 34.832C619.386 31.472 626.058 29.792 633.546 29.792C643.242 29.792 651.21 32.144 657.45 36.848C663.786 41.552 667.962 48.08 669.978 56.432H655.866C654.522 51.632 651.882 47.84 647.946 45.056C644.106 42.272 639.306 40.88 633.546 40.88C626.058 40.88 620.01 43.472 615.402 48.656C610.794 53.744 608.49 60.992 608.49 70.4C608.49 79.904 610.794 87.248 615.402 92.432C620.01 97.616 626.058 100.208 633.546 100.208C639.306 100.208 644.106 98.864 647.946 96.176C651.786 93.488 654.426 89.648 655.866 84.656H669.978C667.866 92.72 663.642 99.2 657.306 104.096C650.97 108.896 643.05 111.296 633.546 111.296C626.058 111.296 619.386 109.616 613.53 106.256C607.77 102.896 603.258 98.144 599.994 92C596.73 85.856 595.098 78.656 595.098 70.4ZM694.231 18.272C691.735 18.272 689.623 17.408 687.895 15.68C686.167 13.952 685.303 11.84 685.303 9.34399C685.303 6.84799 686.167 4.736 687.895 3.008C689.623 1.27999 691.735 0.415995 694.231 0.415995C696.631 0.415995 698.647 1.27999 700.279 3.008C702.007 4.736 702.871 6.84799 702.871 9.34399C702.871 11.84 702.007 13.952 700.279 15.68C698.647 17.408 696.631 18.272 694.231 18.272ZM700.567 31.088V110H687.463V31.088H700.567ZM718.005 70.256C718.005 62.192 719.637 55.136 722.901 49.088C726.165 42.944 730.629 38.192 736.293 34.832C742.053 31.472 748.437 29.792 755.445 29.792C762.357 29.792 768.357 31.28 773.445 34.256C778.533 37.232 782.325 40.976 784.821 45.488V31.088H798.069V110H784.821V95.312C782.229 99.92 778.341 103.76 773.157 106.832C768.069 109.808 762.117 111.296 755.301 111.296C748.293 111.296 741.957 109.568 736.293 106.112C730.629 102.656 726.165 97.808 722.901 91.568C719.637 85.328 718.005 78.224 718.005 70.256ZM784.821 70.4C784.821 64.448 783.621 59.264 781.221 54.848C778.821 50.432 775.557 47.072 771.429 44.768C767.397 42.368 762.933 41.168 758.037 41.168C753.141 41.168 748.677 42.32 744.645 44.624C740.613 46.928 737.397 50.288 734.997 54.704C732.597 59.12 731.397 64.304 731.397 70.256C731.397 76.304 732.597 81.584 734.997 86.096C737.397 90.512 740.613 93.92 744.645 96.32C748.677 98.624 753.141 99.776 758.037 99.776C762.933 99.776 767.397 98.624 771.429 96.32C775.557 93.92 778.821 90.512 781.221 86.096C783.621 81.584 784.821 76.352 784.821 70.4Z" fill="white"/>
                </svg>
                
        </main>
    
        

    </div>

    <section class="experiencia">
    
        <div class="tarjeta-experiencia">
            
            <div class="imagen-experiencia">
                <img src="/img/sergio_arboleda.png" alt="">
            </div>
            <div class="info-experiencia">
                <h2 class="titulo-experiencia">Universidad Sergio Arboleda</h2>
                <p> <strong>Feria de Proyectos [2018]:</strong>  Primer puesto con proyecto enfocado a la seguridad de los mototciclistas, el cual buscaba elminar la totatildad de puntos ciegos en vehiculos de este tipo, almacenando la informacion del trayecto en una base de datos. Los recursos implementados en este proyecto fueron: Raspberry, Arduino, sensores de proximidad, SQL como base de datos, Python y C++ para procesar la informacion</p>
                <p>
                    <strong>Sistema IoT [2018]:</strong> Proyecto final para materia "Diseño Electrónico", cuya finalidad era monitorear la integridad de una bateria de litio, informando al usuario mediante leds la carga de la misma, asi mismo el voltaje de la bateria y la curva de carga se visualizaba mediante un aplicativo web desarrollado con Nodejs 
                </p>
            </div>

        </div>

        <div class="tarjeta-experiencia">
            
            <div class="imagen-experiencia">
                <img src="/img/a1a.png" alt="">
            </div>
            <div class="info-experiencia">
                <h2 class="titulo-experiencia">A1A</h2>
                <p> <strong>Experiencia Laboral [2018-2019]:</strong> He trabajado en el area de desarrollo de la compañia A1A, la cual se encarga de distribuir dispositivos de control biometrico, asi mismo de desarrollar software y realizar la correspondiente integración con dichos dispositivos, durante esta etapa ocupe el cargo de Ingeniero de soporte y desarrollador junior</p>
                
            </div>

        </div>
        <div class="tarjeta-experiencia">
            
            <div class="imagen-experiencia">
                <img src="/img/kachi.png" alt="">
            </div>
            <div class="info-experiencia">
                <h2 class="titulo-experiencia">Kachi SAS</h2>
                <p> <strong>Experiencia Laboral [2020-Actualmente]:</strong> Desde el año 2019 decidí incursionar en la creación de empresa junto a mi mamá, es una empresa de fabricación y distribución de productos cosmeticos.Actualmente estoy a cargo del desarrollo de la pagina web de la compañia y los demas aplicativos necesarios para control de inventarios  </p>
                
            </div>

        </div>

        
       

    </section>
   


    <%- include('partials/footer') %>
    <script src="/js/infoPages.js"></script>
</body>
</html>