<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header')%>
    <title>Idiomas</title>
</head>
<body >
    <div class="estudios-home" style="background-image: url('/img/idiomas.jpg');">
       
        <header>
            <%- include('partials/nav') %>
            
        </header>
        <main>
            <svg id="textPages" width="563" height="112" viewBox="0 0 563 112" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.192 9.632V110H0.088001V9.632H13.192ZM30.6295 70.256C30.6295 62.192 32.2615 55.136 35.5255 49.088C38.7895 42.944 43.2535 38.192 48.9175 34.832C54.6775 31.472 61.1095 29.792 68.2135 29.792C74.3575 29.792 80.0695 31.232 85.3495 34.112C90.6295 36.896 94.6615 40.592 97.4455 45.2V3.44H110.694V110H97.4455V95.168C94.8535 99.872 91.0135 103.76 85.9255 106.832C80.8375 109.808 74.8855 111.296 68.0695 111.296C61.0615 111.296 54.6775 109.568 48.9175 106.112C43.2535 102.656 38.7895 97.808 35.5255 91.568C32.2615 85.328 30.6295 78.224 30.6295 70.256ZM97.4455 70.4C97.4455 64.448 96.2455 59.264 93.8455 54.848C91.4455 50.432 88.1815 47.072 84.0535 44.768C80.0215 42.368 75.5575 41.168 70.6615 41.168C65.7655 41.168 61.3015 42.32 57.2695 44.624C53.2375 46.928 50.0215 50.288 47.6215 54.704C45.2215 59.12 44.0215 64.304 44.0215 70.256C44.0215 76.304 45.2215 81.584 47.6215 86.096C50.0215 90.512 53.2375 93.92 57.2695 96.32C61.3015 98.624 65.7655 99.776 70.6615 99.776C75.5575 99.776 80.0215 98.624 84.0535 96.32C88.1815 93.92 91.4455 90.512 93.8455 86.096C96.2455 81.584 97.4455 76.352 97.4455 70.4ZM139.606 18.272C137.11 18.272 134.998 17.408 133.27 15.68C131.542 13.952 130.678 11.84 130.678 9.34399C130.678 6.84799 131.542 4.736 133.27 3.008C134.998 1.27999 137.11 0.415995 139.606 0.415995C142.006 0.415995 144.022 1.27999 145.654 3.008C147.382 4.736 148.246 6.84799 148.246 9.34399C148.246 11.84 147.382 13.952 145.654 15.68C144.022 17.408 142.006 18.272 139.606 18.272ZM145.942 31.088V110H132.838V31.088H145.942ZM202.692 111.296C195.3 111.296 188.58 109.616 182.532 106.256C176.58 102.896 171.876 98.144 168.42 92C165.06 85.76 163.38 78.56 163.38 70.4C163.38 62.336 165.108 55.232 168.564 49.088C172.116 42.848 176.916 38.096 182.964 34.832C189.012 31.472 195.78 29.792 203.268 29.792C210.756 29.792 217.524 31.472 223.572 34.832C229.62 38.096 234.372 42.8 237.828 48.944C241.38 55.088 243.156 62.24 243.156 70.4C243.156 78.56 241.332 85.76 237.684 92C234.132 98.144 229.284 102.896 223.14 106.256C216.996 109.616 210.18 111.296 202.692 111.296ZM202.692 99.776C207.396 99.776 211.812 98.672 215.94 96.464C220.068 94.256 223.38 90.944 225.876 86.528C228.468 82.112 229.764 76.736 229.764 70.4C229.764 64.064 228.516 58.688 226.02 54.272C223.524 49.856 220.26 46.592 216.228 44.48C212.196 42.272 207.828 41.168 203.124 41.168C198.324 41.168 193.908 42.272 189.876 44.48C185.94 46.592 182.772 49.856 180.372 54.272C177.972 58.688 176.772 64.064 176.772 70.4C176.772 76.832 177.924 82.256 180.228 86.672C182.628 91.088 185.796 94.4 189.732 96.608C193.668 98.72 197.988 99.776 202.692 99.776ZM355.281 29.648C361.425 29.648 366.897 30.944 371.697 33.536C376.497 36.032 380.289 39.824 383.073 44.912C385.857 50 387.249 56.192 387.249 63.488V110H374.289V65.36C374.289 57.488 372.321 51.488 368.385 47.36C364.545 43.136 359.313 41.024 352.689 41.024C345.873 41.024 340.449 43.232 336.417 47.648C332.385 51.968 330.369 58.256 330.369 66.512V110H317.409V65.36C317.409 57.488 315.441 51.488 311.505 47.36C307.665 43.136 302.433 41.024 295.809 41.024C288.993 41.024 283.569 43.232 279.537 47.648C275.505 51.968 273.489 58.256 273.489 66.512V110H260.385V31.088H273.489V42.464C276.081 38.336 279.537 35.168 283.857 32.96C288.273 30.752 293.121 29.648 298.401 29.648C305.025 29.648 310.881 31.136 315.969 34.112C321.057 37.088 324.849 41.456 327.345 47.216C329.553 41.648 333.201 37.328 338.289 34.256C343.377 31.184 349.041 29.648 355.281 29.648ZM403.848 70.256C403.848 62.192 405.48 55.136 408.744 49.088C412.008 42.944 416.472 38.192 422.136 34.832C427.896 31.472 434.28 29.792 441.288 29.792C448.2 29.792 454.2 31.28 459.288 34.256C464.376 37.232 468.168 40.976 470.664 45.488V31.088H483.912V110H470.664V95.312C468.072 99.92 464.184 103.76 459 106.832C453.912 109.808 447.96 111.296 441.144 111.296C434.136 111.296 427.8 109.568 422.136 106.112C416.472 102.656 412.008 97.808 408.744 91.568C405.48 85.328 403.848 78.224 403.848 70.256ZM470.664 70.4C470.664 64.448 469.464 59.264 467.064 54.848C464.664 50.432 461.4 47.072 457.272 44.768C453.24 42.368 448.776 41.168 443.88 41.168C438.984 41.168 434.52 42.32 430.488 44.624C426.456 46.928 423.24 50.288 420.84 54.704C418.44 59.12 417.24 64.304 417.24 70.256C417.24 76.304 418.44 81.584 420.84 86.096C423.24 90.512 426.456 93.92 430.488 96.32C434.52 98.624 438.984 99.776 443.88 99.776C448.776 99.776 453.24 98.624 457.272 96.32C461.4 93.92 464.664 90.512 467.064 86.096C469.464 81.584 470.664 76.352 470.664 70.4ZM533.993 111.296C527.945 111.296 522.521 110.288 517.721 108.272C512.921 106.16 509.129 103.28 506.345 99.632C503.561 95.888 502.025 91.616 501.737 86.816H515.273C515.657 90.752 517.481 93.968 520.745 96.464C524.105 98.96 528.473 100.208 533.849 100.208C538.841 100.208 542.777 99.104 545.657 96.896C548.537 94.688 549.977 91.904 549.977 88.544C549.977 85.088 548.441 82.544 545.369 80.912C542.297 79.184 537.545 77.504 531.113 75.872C525.257 74.336 520.457 72.8 516.713 71.264C513.065 69.632 509.897 67.28 507.209 64.208C504.617 61.04 503.321 56.912 503.321 51.824C503.321 47.792 504.521 44.096 506.921 40.736C509.321 37.376 512.729 34.736 517.145 32.816C521.561 30.8 526.601 29.792 532.265 29.792C541.001 29.792 548.057 32 553.433 36.416C558.809 40.832 561.689 46.88 562.073 54.56H548.969C548.681 50.432 547.001 47.12 543.929 44.624C540.953 42.128 536.921 40.88 531.833 40.88C527.129 40.88 523.385 41.888 520.601 43.904C517.817 45.92 516.425 48.56 516.425 51.824C516.425 54.416 517.241 56.576 518.873 58.304C520.601 59.936 522.713 61.28 525.209 62.336C527.801 63.296 531.353 64.4 535.865 65.648C541.529 67.184 546.137 68.72 549.689 70.256C553.241 71.696 556.265 73.904 558.761 76.88C561.353 79.856 562.697 83.744 562.793 88.544C562.793 92.864 561.593 96.752 559.193 100.208C556.793 103.664 553.385 106.4 548.969 108.416C544.649 110.336 539.657 111.296 533.993 111.296Z" fill="white"/>
                </svg>
                
        </main>
        

    </div>

    <section class="idiomas">
    
        <div class="tarjeta-idiomas">
            
            <div class="info-idiomas">
                <h2 class="titulo-idiomas">ESPAÑOL</h2>
                <p>C1</p>
            </div>

            

        </div>
        <div class="tarjeta-idiomas">
            
            <div class="info-idiomas">
                <h2 class="titulo-idiomas">INGLES</h2>
                <p>B2</p>
            </div>

            

        </div>
       

    </section>
   


    <%- include('partials/footer') %>
    <script src="/js/infoPages.js"></script>
</body>
</html>