<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/header')%>
    <title>Idiomas</title>
</head>
<body >
    <div class="estudios-home" style="background-image: url('/img/idiomas.jpg');">
       
        <header>
            <%- include('partials/nav') %>
            
        </header>
    
        

    </div>

    <section class="idiomas">
    
        <div class="tarjeta-idiomas">
            
            <div class="info-idiomas">
                <h2 class="titulo-idiomas">ESPAÑOL</h2>
                <p>C1</p>
            </div>

            

        </div>
        <div class="tarjeta-idiomas">
            
            <div class="info-idiomas">
                <h2 class="titulo-idiomas">INGLES</h2>
                <p>B2</p>
            </div>

            

        </div>
       

    </section>
   


    <%- include('partials/footer') %>
</body>
</html>