<footer>
    <div class="footer-contenedor">
        <div class="contacto">
            <h2>Contacto</h2>
            <p>Github: danielSanchez98</p>
            <p>Correo: ds980220@gmail.com</p>
        </div>
        <div class="logo-footer">
            <img src="/img/logo_footer.png" alt="">
        </div>
        <div class="nombre-footer">
             <p class="fechaNombre"><span>2020</span> Daniel Sánchez</p>
             <p class="rights">All Rights Reserved</p>
        </div>




    </div>


</footer>

